
body {
    background-color: #ecf0f1;
}

#container {
    background: #58989D;
    margin: 0 auto;
    width: 960px;
    height: 960px;
    overflow: hidden;
    line-height: 72%;
}

.box {
    background: #7f8c8d;
    display: inline-block;
}

.box-top {
    background: #2c3e50;
    display: inline-block;
}

button {
    background: #7f8c8d;
}

button:hover {
    background-color: rgba(0, 0, 0, .3);
}


h1 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

ul {
    padding-left: 0;
    list-style-type: none;
    display: block;
}

nav li {
    display: inline-block;
}

nav {
    margin: 0 auto;
    text-align: center;
}

button {
    width: 155px;
}